<h1>Sobre</h1>
<p>
  Este é um trabalho criado pelo aluno Weyler Almeida
</p>
<p>
  para a disciplina de Orientação a objetos, ministrada
</p>
<p>
  pelo professor Renato Coral Sampaio
</p>
<p>
  na Universidade de Brasília.
</p>
<p>
</p>
<p>
  O serviço prestado pelo site
</p>
<p>
  é de sugestão de jogos entre
</p>
<p>
  os usuários.
</p>
<p>
  Sinta-se livre para compartilhar
</p>
<p>
  o seu jogo.
</p>
