
<h1>Lista de Jogos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <button type="button">
      <%= link_to 'Novo Jogo', new_jogo_path %>
    </button>
    <div>
    <% @jogos.each do |jogo| %>
      <tr>
        <p>
          <h3><strong><%= jogo.Nome %></strong></h3>
        </p>

        <p>

          <g class="content"><%= jogo.Description %></g>
        </p>

        <g><p class="time"><%= jogo.created_at %></p></g>
          <p>
          <button type="button">
          <strong><%= link_to 'Mostrar', jogo %></strong>
        </button>
        <% if can? :update, jogo %>
        <button type="button">
        <strong><%= link_to 'Editar', edit_jogo_path(jogo) %></strong>
      </button>
        <% end %>
        <% if can? :destroy, jogo %>
        <button type="button">
        <strong><%= link_to 'Deletar', jogo, method: :delete, data: { confirm: 'Tem certeza?' } %></strong>
      </button>
        <% end %>
      </p>
      </tr>
    <% end %>
  </tbody>
</div>
</table>

<br>
