

<p>
  <h3><strong>Título:</strong>
  <%= @jogo.Nome %></h3>
</p>

<p>
  <h3><strong>Descrição:</strong></h3>
  <%= @jogo.Description %>
</p>
<% if can? :update, @jogo %>
<button type="button">
<%= link_to 'Editar', edit_jogo_path(@jogo) %>
</button>
<% end %>
<button type="button">
<%= link_to 'Voltar', jogos_path %>
</button>
