// Place all the styles related to the Jogos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, p {
  margin: 0;
}


p.time {
  color: #0084d7;
  font-size: 12px;
  margin-top: 12px;
}


button:hover {
  background-color: white;
  transition: background-color 0.5s;
}
