html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url('http://s01.riotpixels.net/data/32/0e/320e81b6-b0f0-43cb-a6ab-3292757ba46a.jpg/artwork.titanfall.1920x1080.2014-03-24.115.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  margin: 0 auto;
  width: 960px;
}

/* Main */
.main {
  color: black;
  position: top;
  top: 100px;
  text-align: left;
}

.main h1 {
  font-size: 80px;
  font-weight: 300;
}

.main p {
  font-size: 30px;
}

@media screen and (max-width: 800px) {
    body {
        background-size: auto 100%;
    }
    .container {
        width: 100%;
    }
}
