body {
  background-color: #fff;
  color: black;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
h3 {
  color: black;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 20px;
  line-height: 18px;
}
b {
  background-color: white;
  color: black;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
h2 {

  color: black;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 70px;
  line-height:70px;
}
h1 {
  color: red;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 35px;
  line-height: 30px;
}
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: blue;

  &:visited {
    color: blue;
    background-color: black;
  }

  &:hover {
    color: black;
    background-color: white;
  }
}
g {
  color: black;
  background-color: white;
}
div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: red;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
